#app {
  background-color: var(--gray-90);
  color: white;
}

#header {
  background-color: var(--gray-80);
}

#sidebar {
  background-color: var(--gray-80);
}

#sidebar-btn-wrapper:active #sidebar-btn {
  background-color: var(--purple);
  color: var(--gray-90);
}

#sidebar-btn {
  background-color: var(--dark-purple);
}

#sidebar-btn:hover {
  background-color: var(--purple);
  color: white;
}

#club-card-content{
  background-color: var(--gray-80);
}
