#app {
  background-color: var(--gray-00);
  color: var(--gray-90);
}

#header {
  background-color: white;
}

#sidebar {
  background-color: white;
}

#sidebar-btn-wrapper:active #sidebar-btn {
  background-color: var(--purple);
}

#sidebar-btn {
  background-color: var(--light-purple);
}

#sidebar-btn:hover {
  background-color: var(--purple);
  color: white;
}

#club-card-content {
  background-color: white;
}
