/* Import Tailwind  */
@tailwind base;
@tailwind components;
@tailwind utilities;
/* Import Urbanist */
@import url("https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* CSS Variables **/
:root {
  --font-primary: "Urbanist", sans-serif;
  --primary: theme("colors.green.500");
  --secondary: theme("colors.green.700");
  --b-primary: theme("colors.white");
  --b-secondary: theme("colors.gray.100");
  --b-tertiary: theme("colors.blue.50");
  --t-primary: theme("colors.black");
  --bd-primary: theme("colors.gray.200");
}
AND 
[data-theme="dark"] {
  --primary: theme("colors.green.500");
  --secondary: theme("colors.green.700");
  --b-primary: theme("colors.gray.800");
  --b-secondary: theme("colors.gray.900");
  --b-tertiary: #18233a;
  --t-primary: theme("colors.white");
  --bd-primary: theme("colors.gray.700");
}

/* Fonts */
.font-primary {
  font-family: var(--font-primary);
}

/* Background Colors */
.bg-primary {
  background-color: var(--primary);
}
.bg-secondary {
  background-color: var(--secondary);
}
.bg-b-primary {
  background-color: var(--b-primary);
}
.bg-b-secondary {
  background-color: var(--b-secondary);
}
.bg-b-tertiary {
  background-color: var(--b-tertiary);
}
.bg-text-primary {
  background-color: var(--t-primary);
}

/* Background Colors Hover */
.hover\:bg-primary:hover {
  background-color: var(--primary);
}
.hover\:bg-secondary:hover {
  background-color: var(--secondary);
}
.hover\:bg-b-primary:hover {
  background-color: var(--b-primary);
}
.hover\:bg-b-secondary:hover {
  background-color: var(--b-secondary);
}
.hover\:bg-text-primary:hover {
  background-color: var(--t-primary);
}

/* Text Colors */
.text-primary {
  color: var(--primary);
}
.text-secondary {
  color: var(--secondary);
}
.text-b-primary {
  color: var(--b-primary);
}
.text-b-secondary {
  color: var(--b-secondary);
}
.text-t-primary {
  color: var(--t-primary);
}

/* Text Colors Hover */
.hover\:text-primary:hover {
  color: var(--primary);
}
.hover\:text-secondary:hover {
  color: var(--secondary);
}
.hover\:text-b-primary:hover {
  color: var(--b-primary);
}
.hover\:text-b-secondary:hover {
  color: var(--b-secondary);
}
.hover\:text-t-primary:hover {
  color: var(--t-primary);
}

/* Borders */
.border-bd-primary {
  border-color: var(--bd-primary);
}

/* Height */

/* Transitions */
.slide-left-enter-active,
.slide-left-leave-active {
  transition: 0.4s;
}

.slide-left-enter-from {
  transform: translate(-100%, 0);
}
.slide-left-leave-to {
  transform: translate(-100%, 0);
}

.slide-right-enter-active,
.slide-right-leave-active {
  transition: 0.4s;
}

.slide-right-enter-from {
  transform: translate(100%, 0);
}
.slide-right-leave-to {
  transform: translate(100%, 0);
}

/* Utilities */
